@charset "UTF-8";

/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
    height: 100vh;
}

.flex{
    display: flex;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.diego-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00ff08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #00ff08;
}

button:hover {
    box-shadow: 0px 0px 8px #00ff2a;
    transform: scale(1.05);
}

/* ESTILO DO CABEÇALHO */
header {
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #5e5e5e;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}


/* ESTILO DO TOPO DO SITE */
section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;    
}

.topo-do-site .txt-topo-site h1 span{ 
    color: #00ff08;
    font-size: 50px;
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
    text-align: justify;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

/* ANIMAÇÃO DA FLUTUAÇÃO */
@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* ESTILO DAS ESPECIALIDADES */
section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: #fff;
    padding: 40px; 
    border-radius: 20px;
    border: 2px solid #fff;
    margin-top: 45px;
    transition: .2s;  
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff81;
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: #00ff08;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}

/* ESTILO DO SOBRE */
section.sobre{
    padding: 80px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: #00ff08;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.sobre .txt-sobre .diego-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #00ff08;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

/* ESTILO DO PORTIFÓLIO */
section.portifolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff13;
}

section.portifolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-portifolio{
    width: 360px; 
    height: 460px;
    background-color: #00ff08;  
    background-size: cover; 
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

/* EFEITO HOVER(FUTURAMENTE) */
.img-portifolio:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000009f;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;    
}

/* ESTILO DO FORMULÁRIO DE CONTATO */
section.formulario{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input{
    width: 100%;
    background-color: #3b3b3be7;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    color: #fff;
    font-size: 18px;
}

form input::placeholder{
    
}